    VisualElement {
    
}
.Header{
    flex-direction: row;
    border-bottom-color: #0a0303;
    border-bottom-width: 1px ;
}
.row {
    flex-direction: row;
    border-bottom-width: 1px;
    border-bottom-color: rgba(0, 0, 0, 0.3);
}

.row-odd {
    background-color: rgba(255, 255, 255, 0.03);
}

.row:hover {
    background-color: rgba(255, 255, 255, 0.08);
}

.cell {
    padding-left: 4px;
    padding-right: 4px;
    border-right-width: 1px;
    border-right-color: rgba(0, 0, 0, 0.3);
    flex-grow: 0;
    flex-shrink: 0;
}
.nav{
    background-color: #1b1f23;
    flex-grow: 1;
}

.nav-folder{
    background-color: #2b3137;
    border-bottom-color: #2a65a0;
    border-bottom-width: 2px;
}
.box-card-preview{
    width: 70px;
    height: 90px;
    flex-shrink: 0;
}
.preview-text{
    font-size: 7px;                
    color: rgb(60, 40, 30);         
    -unity-font-style: bold;
    white-space: normal;
    position: absolute;
}
.img-card{
    position: absolute;
}
.nav-item {
    padding-left: 14px;         
    padding-top: 5px;
    padding-bottom: 5px;
    color: rgb(200, 200, 200);
    background-color: #1b1f23;
}
.create-button{
    background-color: #00bb00;
    
}
.delete-button{
    width: 20px;
    height: 20px;
    background-color: #b31d28;
}

.nav-item:hover {
    background-color: rgba(255, 255, 255, 0.08);   
}  
.nav-subFolder {
     margin-left: 10px;
}
.nav-subItem {
    padding-left: 28px;          
    font-size: 11px;
    color: rgb(170, 170, 170);
}

